.square {
    display: grid;
    place-content: center;
    width: 62.5px;
    height: 62.5px;
}

.white-square{
    background-color: #ebecd0;
}

.black-square{
    background-color: #779556;
}

.square .piece{
    width: 62.5;
    user-select: none;
    cursor: grab;
}

.square .piece:active {
    cursor: grabbing;
}